@import "tailwindcss";

@theme {
  --color-zinc-950: #09090b;
  --color-zinc-900: #18181b;
  --color-zinc-100: #f4f4f5;
}

body {
  background-color: #ffffff;
  background-image: radial-gradient(circle at 50% -20%, #f4f4f5, transparent 80%);
  color: #09090b;
}

/* Scrollbar styling */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #e4e4e7;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #d4d4d8;
}
